@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* margin and padding = 0 to prevent the browser from applying its default margin/padding */

/* border-box helps to keep layouts more consistent and easier to visualize how elements will interact with each other */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: #f1efe5;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar ul{
    overflow: hidden;
    list-style-type: none;
}

.navbar a{
    color: black;
    padding: 15px;
    display: block;
    font-size: 20px;
    font-weight: 500;
}

.navbar span{
    color: #7c8959;
    font-weight: 700;
    font-size: 30px;
}

.navbar li{
    float: right;
}

.profile-card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    
}

/* adds spaces between text, heading and image */
.info{
    margin: 30px;
}

.info .text{
    font-size: 20px;
    margin: 100px;
}

.text h2{
    font-weight: 500;
    font-size: 25px;
}





