@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    background-color: #f1efe5;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar ul{
    overflow: hidden;
    list-style-type: none;
}

.navbar a{
    color: black;
    padding: 15px;
    display: block;
    font-size: 20px;
    font-weight: 500;
}

.navbar span{
    color: #7c8959;
    font-weight: 700;
    font-size: 30px;
}

.navbar li{
    float: right;
}



.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 35px 20px 0 20px;
}

.header h3{
    font-size: 35px;
    font-weight: 600;
    border-bottom: 4px dotted black;
}

/* line break */
.header{
    width: 40%;
    padding-bottom: 30px;
}

.header h3{
    font-weight: 500;
    font-size: 35px;
}

.container .img-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .img-box .column{
    display: flex;
    flex-direction: column;
    width: 32.5%
}

.container .img-box .column img{
    width: 100%;
    padding-bottom: 13px;
    border-radius: 5px;
}

.home-button button{
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 50px;
    border: transparent;
    background-color: #91785c93;
}

.home-button{
    padding: 10px 0 30px 0;
}